<div class="criteria-breadcrumb-container text-center">
  <div class="criteria-breadcrumb">
    <div class="criteria-breadcrumb-item"><span>1</span>Mes causes</div>
    <div class="criteria-breadcrumb-item criteria-breadcrumb-item-active"><span>2</span>Mes projets</div>
    <div class="criteria-breadcrumb-item"><span>3</span>Contribuer</div>
  </div>
</div>

<div class="main-container">
  <div class="main-header">
    <div class="causes-resume">
      <h6><i class="fa fa-heart" aria-hidden="true"></i> Les causes que je soutiens</h6>
      <p><em>Sélectionnez les causes qui vous tiennent à coeur pour trouver les projets qui vous ressemblent.</em></p>
    </div>
    <div class="causes-buttons">
      <%= link_to "Réinitialiser", edit_criteria_path, class: "btn button-reset", id: "criteria-reset" %>
    </div>
  </div>
  <div class="content-container choose-criteria">
      <div class="choose-criteria-item">
        <h3>Mes Recommandations</h3>
      </div>
      <div>
        <%= form_tag user_donations_path(current_user) do %>
          <% @recommendations.each do |recommendation|%>
            <% project = Project.find(recommendation[:project_id]) %>
            <% project_categories = [] %>
            <% [:environment, :humanitarian, :social, :research, :preservation, :education].each do |criterium| %>
              <% project_categories << criterium if project[criterium] == 1 %>
            <% end %>
            <%= hidden_field_tag project.id, project.id %>
            <div id="<%= project.id %>" class="user-selected">
                <div class="col-xs-12 col-sm-4" >
                  <div class="card home-project">

                    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                     url('https://kitt.lewagon.com/placeholder/cities/shanghai');"></div>

                    <div class="card-category">
                      <% project_categories.each do |category| %>
                        <%= "#{category} " %>
                      <% end %>
                    </div>

                    <div class="card-description">
                      <h2><%= recommendation[:project_id] %></h2>
                      <p>start</p>
                      <p>end</p>
                    </div>

                    <!-- this should be a checkmark with toggled visibility -->
                    <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">

                  </div>
                </div>
              </div>
          <% end %>
          <input name="Donner" type="submit" value="Donner" />
        <% end %>
      </div>


      <!-- <form action="/result" method="patch" class="form-group">

      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6 col-sm-4">
            <label class="btn">
              <img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Running.png" alt="..." class="img-thumbnail img-check">
              Ecologie
              <input type="checkbox" name="environment" id="item1" class="hidden" autocomplete="off">
            </label>
          </div>
          <div class="col-xs-6 col-sm-4">Humanitaire</div>
          <div class="col-xs-6 col-sm-4">Action sociale</div>
          <div class="col-xs-6 col-sm-4">Patrimoine</div>
          <div class="col-xs-6 col-sm-4">Education</div>
          <div class="col-xs-6 col-sm-4">Recherche</div>
       </div>
      </div>

    </form> -->
  </div>
</div>
