<div class="criteria-breadcrumb-container text-center">
  <div class="criteria-breadcrumb">
    <div class="criteria-breadcrumb-item"><span>1</span>Mes causes</div>
    <div class="criteria-breadcrumb-item criteria-breadcrumb-item-active"><span>2</span>Mes projets</div>
    <div class="criteria-breadcrumb-item"><span>3</span>Contribuer</div>
  </div>
</div>

<div class="main-container">
  <div class="main-header">
    <div class="causes-resume">
      <h6><i class="fa fa-heart" aria-hidden="true"></i> Les causes que je soutiens</h6>
      <p><em>Sélectionnez les causes qui vous tiennent à coeur pour trouver les projets qui vous ressemblent.</em></p>
    </div>
    <div class="causes-buttons">
      <%= link_to "Réinitialiser", edit_criteria_path, class: "btn button-reset", id: "criteria-reset" %>
    </div>
  </div>
  <div class="content-container choose-criteria text-center">
    <div class="choose-criteria-item">
      <h3>Mes Recommandations</h3>
    </div>
    <div class="result-container">
      <%= form_tag user_donations_path(current_user) do %>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="flex-between">
              <h3>Je donne </h3>
              <input id="contribution" type="number" placeholder="10">
              <h3> euros</h3>
              <div id="donate-btn">
                <input name="Contribuer" type="submit" value="Contribuer" class="btn btn-primary"/>
              </div>
            </div>
          </div>
        </div>
        <div>
          <ul class="nav nav-pillss nav-justified" role="tablist">
            <% @recommendations.each do |recommendation|%>
              <!-- define project, categories, and hidden field -->
              <% project = Project.find(recommendation[:project_id]) %>
              <% project_categories = [] %>
              <% [:environment, :humanitarian, :social, :research, :preservation, :education].each do |criterium| %>
                <% project_categories << criterium if project[criterium] == 1 %>
              <% end %>
              <li role="presentation">
                <a href=<%= "##{project.id}" %> aria-controls=<%= "#{project.id}" %> role="tab" data-toggle="tab">
                  <%= project.name %>
                  <i class="fa fa-check-circle-o checked" aria-hidden="true" data-tab-check="<%= project.id %>"></i>
                </a>
              </li>
            <% end %>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <% div_counter = 0 %>
            <% @recommendations.each do |recommendation|%>
              <!-- define project, categories -->
              <% div_counter += 1 %>
              <% project = Project.find(recommendation[:project_id]) %>
              <% project_categories = [] %>
              <% [:environment, :humanitarian, :social, :research, :preservation, :education].each do |criterium| %>
                <% project_categories << criterium if project[criterium] == 1 %>
              <% end %>
                <div role="tabpanel" class="tab-pane" id=<%= "#{project.id}" %>>
                  <h2><%= "#{project.name} - (#{project.id})" %></h2>
                  <p><%= project_categories.join(" - ") %></p>
                  <p><%= project.description %></p>
                  <i class="fa fa-check-circle-o checked" aria-hidden="true" data-content-check="<%= project.id %>"><%= hidden_field_tag "project_#{div_counter}", project.id %></i>
                  <div id="amount"></div>
                </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
