
<div class="height-dashboard">
  <div class="row no_margin">
    <div class="col-xs-12 col-sm-2 no_padding background-image ">

      <%= content_for(:navbar_class, "navbar-dashboard") %>


      <div class="welcome ">
        <h1>  Bienvenue <%= @user.first_name  %></h1>
        <%= render 'shared/tabs' %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-10 no_padding background-image">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="dashboard">

          <div class="col-xs-12 col-sm-8 no_padding info-container">

            <div class="col-xs-12 col-sm-6 no_padding">
              <div class="notifications">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                <p>Vous avez attribué votre abonnement pour le mois en cours</p>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 no_padding">
              <div class="notifications">
                <%= render 'shared/widget-actualite' %>
              </div>
            </div>

            <div class="col-xs-12 col-sm-offset-3 col-sm-6 no_padding">
              <%= link_to "Découvrez de nouveaux projets", "#", class: "btn decouvrez" %>
            </div>

            <div class="col-xs-12 no_padding">
              <div class="total_dons">
                <div>vous avez donné</div>
                <div class="donations-count">
                  <% sum = 0 %>
                  <% @user.donations.each do |donation| %>
                  <% sum += donation.amount_cents.to_i %>
                  <% end %>
                  <%= total_donations = sum / 100  %> €
                </div>
              </div>
            </div>

            <div class="col-xs-12 no_padding">
              <div class=total_projets>
                <div>pour soutenir</div>
                <% if  @user.donations.count > 0  %>
                  <div class="donations-count"> <%= pluralize @user.donations.count, "projet" %></div>
                <% else %>
                  <div class="no-project">
                    <h5>Vous n'avez pas encore financé de projet</h5>
                    <%= link_to 'Decouvrez les projets', edit_criteria_path, class: "discover-project img-fluid" %>
                  </div>
                <% end %>
                  <!-- add condition where status == 20 -->
              </div>
            </div>


            <div class="col-xs-12 no_padding">
              <div class="total-critere">

                <div class="col-xs-8 no_padding">vos causes</div>
                <%= render 'shared/causes-indicator' %>
              </div>
            </div>

          </div>

          <div class="col-xs-12 col-sm-4 no_padding">
            <div class="header-carousel">
              <% project_sum = 0  %>
              <% @user.donations.each do |donation| %>
              <% if donation.project.end_date > Date.today %>
              <% project_sum += 1 %>
              <% end %>
              <% end %>
              <h3> Vous avez <%= pluralize project_sum, "projet" %> en cours</h3>
            </div>
            <%= render 'shared/carousel' %>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="mes_donations">
          <div class="container-projects">
            <div class="col-xs-12 col-sm-8 no_padding list-of-projects">
              <div class="current-projects">
                Redécouvrez les <%= pluralize @user.donations.count, "projet" %> que vous avez soutenus
              </div>
              <%= render 'shared/project-history' %>
            </div>
            <div class="col-xs-12 col-sm-4 no_padding">
              <div class="map-container">
                <div
                  id="map"
                  style="max-width: 100%;
                  height: 400px;
                  data-markers="<%= @markers.to_json %>"
                ></div>
              </div>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="recu_fiscaux">
          <div class="zone_de_texte col-xs-12 col-sm-9">
            <h2>Mes reçus fiscaux</h2>
            <h3>Vous pouvez déduire 66% de vos dons !</h3>
            <p>Les dons réalisés au profit des associations reconnues d’intérêt général peuvent faire l’objet d’une réduction d’impôts de 66% selon l’article 200 du Code Général des Impôts.</p>
            <p> En apportant votre soutien aux <%= pluralize @user.donations.count, "projet" %> que vous avez sélectionés, vous avez le droit de déduire de votre impôt sur le revenu 2017 la somme de <strong> <%= (deductible_donations = total_donations * 0.66).truncate %> €.</strong></p>
            <h3>Comment faire ?</h3>

            <div class="tax-images col-xs-12 col-sm-12">
              <div class="tax-icon calendar col-xs12 col-sm-4"> <%= image_tag 'weekly-calendar.png' %> <p>Lors de votre déclaration d'impôts sur le revenu</p> <h5>Remplissez la rubrique "7UF" du formulaire 2042 <em> (téléchargeable ci-dessous)</em></h5> </div>
              <div class="tax-icon attachments col-xs12 col-sm-4"> <%= image_tag 'attachments.png' %> <p>Joignez les reçus fiscaux à votre déclaration</p> <h5> Ils sont transmis par les associations <em>(disponibles dans cette rubrique)</em> </h5></div>
              <div class="tax-icon tax col-xs12 col-sm-4"> <%= image_tag 'tax.png' %> <p>Déduisez du paiement de vos impôts sur le revenu</p> <h5>le montant déductible inscrit sur cette page </h5></div>
            </div>

            <div class="tax-images col-xs-12 col-sm-12">

            </div>
            <div class="col-xs-12 col-sm-12 no_padding decouvrez formulaire_2042">
              <%= link_to "Télécharger le formulaire en pdf", url_for('https://www.impots.gouv.fr/portail/files/formulaires/2042/2017/2042_1914.pdf') %>
            </div>

          </div>
          <div class="zone_de_texte mes_recus col-xs-12 col-sm-3">
            <h3>Télécharger mes reçus fiscaux</h3>
            <%= link_to "Croix rouge", "#", class: 'decouvrez'%>
            <%= link_to "Médecin sans Frontière", "#", class: 'decouvrez' %>
            <%= link_to "Reporter sans Frontière", "#", class: 'decouvrez' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Javascript required for Google Maps API -->
<%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
<%= javascript_pack_tag "map" %>

