<div class="template-container">
  <div class="scrollable-content">

    <div class="container-fluid" >
      <di class="title-welcome-dashboard"><h1>  Bienvenue <%= @user.first_name.capitalize  %></h1></di>
      <div class="row">

<!-- dons -->
        <div class="col-xs-12 col-sm-6" >
          <div class="clickable-area clickable card-total-dons hvr-grow subscription-choice " id="total_dons">
            <% if @user.donations.where(status: 20).count > 0 %>
              <h5>Vous avez donné</h5>
                <% sum = 0 %>
                <% @user.donations.where(status: 20).each do |donation| %>
                <% sum += donation.amount_cents.to_i %>
                <% end %>
                <div><%= number_with_delimiter((total_donations = sum / 100), delimiter: " " )%> €</div>
              <p>Découvrez les causes soutenues</p>
            <% else %>
              <div class="no-project">
                <h5>Vous n'avez pas encore donné</h5>
              </div>
            <% end %>
          </div>
        </div>

<!-- projet -->
        <div class="col-xs-12 col-sm-6" >
          <div class="clickable-area clickable card-total-projets subscription-choice hvr-grow " id="total_projets">

            <% if  @user.donations.where(status: 20).count > 0  %>
              <h5>Vous avez soutenu</h5>
              <div> <%=  pluralize @user.paid_projects.count, "projet" %></div>
              <p>Découvrez les lieux de vos projets</p>
            <% else %>
              <div class="no-project">
                <h5>Vous n'avez pas encore financé de projet</h5>
              </div>
            <% end %>
          </div>
        </div>

<!-- déductions fiscales -->
        <div class="col-xs-12 col-sm-12" >
          <div class="paragraphe_deduction">
            <div class="title-deduction"><h3>Vous pouvez déduire 66% de vos dons<% if @user.donations.where(status: 20).count > 0  %>, soit <%= number_with_delimiter((deductible_donations = total_donations * 0.66), delimiter: " " ) %> €<% end %></h3></div>
            <p>Les dons réalisés au profit des associations reconnues d’intérêt général peuvent faire l’objet d’une réduction d’impôts de 66% selon l’article 200 du Code Général des Impôts.</p>
            <% if @user.donations.where(status: 20).count > 0  %>
            <p> En apportant votre soutien aux <%= pluralize @user.donations.where(status: 20).count, "projet" %> que vous avez sélectionés, vous avez le droit de déduire de votre impôt sur le revenu 2017 la somme de <strong> <%= number_with_delimiter((deductible_donations = total_donations * 0.66), delimiter: " " ) %> €.</strong></p>
            <% end %>
            <div class="clickable-area btn subscription-choice hvr-grow col-sm-6 col-sm-offset-3 card-total-deduction" id="deduction">
              <h5>Guide de la déduction fiscale</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="fixed-background" id="total_dons" style="background-image: linear-gradient(-225deg, rgba(0,10,16,0.6) 0%, rgba(0,36,61,0.6) 50%), url(http://res.cloudinary.com/adb0wzhme6/image/upload/v1513174424/kegkdxkjpn3erhqfmrrs.jpg);">
      <div class="col-xs-12 no_padding">
      <div>
        <div class="template-title-dashboard"><h2>Répartition de vos dons par cause</h2></div>
        <%= render 'shared/causes-indicator' %>
      </div>
    </div>
  </div>

  <div class="fixed-background hidden" id="total_projets" style="background-image: linear-gradient(-225deg, rgba(0,10,16,0.6) 0%, rgba(0,36,61,0.6) 50%), url(http://res.cloudinary.com/adb0wzhme6/image/upload/v1513174424/kegkdxkjpn3erhqfmrrs.jpg);">
    <div class="col-xs-12 map-super-container">
      <div class="template-title-dashboard card-deduction"><h2>Répartition des projets soutenus</h2></div>
      <div class="map-container">
        <div
          id="map"
          style="max-width: 100%;
          height: 70vh;"
          data-markers="<%= @markers.to_json %>">
        </div>
      </div>
    </div>
  </div>


  <div class="fixed-background hidden scroll_function" id="deduction" style="background-image: linear-gradient(-225deg, rgba(0,10,16,0.6) 0%, rgba(0,36,61,0.6) 50%), url(http://res.cloudinary.com/adb0wzhme6/image/upload/v1513174424/kegkdxkjpn3erhqfmrrs.jpg);">
    <div class="comment-faire col-xs-12 col-sm-12">
    <h2>Mode d'emploi</h2>
      <div class="tax-images template-text-dashboard">
        <div class="tax-icon calendar col-xs12 col-sm-4"> <%= image_tag 'weekly-calendar.png' %> <h5>Précisez vos dons dans votre déclaration d'impôts sur le revenu</h5> <p>Remplissez la rubrique "7UF" du formulaire 2042 </p> </div>
        <div class="tax-icon attachments col-xs12 col-sm-4"> <%= image_tag 'attachments.png' %> <h5>Joignez les reçus fiscaux à votre déclaration</h5> <p>Disponibles dans cette rubrique</p></div>
        <div class="tax-icon tax col-xs12 col-sm-4"> <%= image_tag 'tax.png' %> <h5>Déduisez le montant de vos impôts sur le revenu</h5> <p>Montant indiqué dans l'encadré à gauche</p></div>
      </div>
    </div>

    <% if @user.donations.where(status: 20).count > 0  %>
      <div class="liste_des_reçus col-xs-12 col-sm-12">
        <h2>Télécharger mes reçus fiscaux</h2>
        <div class="">
          <div class="recu template-text-dashboard">
            <%= link_to image_tag("certificate.png"), "#" %>
            <div>
              <p>Croix rouge</p>
              <i class="fa fa-cloud-download" aria-hidden="true"></i>
            </div>
          </div>
          <div class="recu template-text-dashboard">
            <%= link_to image_tag("certificate.png"), "#" %>
            <div>
              <p>Médecin sans Frontière</p>
              <i class="fa fa-cloud-download" aria-hidden="true"></i>
            </div>
          </div>
          <div class="recu template-text-dashboard">
            <%= link_to image_tag("certificate.png"), "#" %>
            <div>
              <p>Reporter sans Frontière</p>
              <i class="fa fa-cloud-download" aria-hidden="true"></i>
            </div>
          </div>
          <div class="recu template-text-dashboard">
            <%= link_to image_tag("certificate.png"), "#" %>
            <div>
              <p>WWF</p>
              <i class="fa fa-cloud-download" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>

