
<div class="height-dashboard">

  <div class="row">
    <div class="col-xs-12 col-sm-2 no_padding">

      <%= content_for(:navbar_class, "navbar-dashboard") %>


      <div class="welcome">
        <h1>  Bienvenue <%= @user.first_name  %></h1>
        <%= render 'shared/tabs' %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-10 no_padding">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="dashboard">

          <div class="col-xs-12 col-sm-8 no_padding info-container">

            <div class="col-xs-12 col-sm-6 no_padding">
              <div class="notifications">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                <p>Vous avez attribué votre abonnement pour le mois en cours</p>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 no_padding">
              <div class="notifications">
                <%= render 'shared/widget-actualite' %>
              </div>
            </div>

            <div class="col-xs-12 col-sm-offset-3 col-sm-6 no_padding">
              <%= link_to "Découvrez de nouveaux projets", "#", class: "btn decouvrez" %>
            </div>

            <div class="col-xs-12 no_padding">
              <div class="total_dons">
                <div>vous avez donné</div>
                <div class="donations-count">
                  <% sum = 0 %>
                  <% @user.donations.each do |donation| %>
                  <% sum += donation.amount_cents.to_i %>
                  <% end %>
                  <%= total_donations = sum / 100  %> €
                </div>
              </div>
            </div>

            <div class="col-xs-12 no_padding">
              <div class=total_projets>
                <div>pour soutenir</div>
                <% if  @user.donations.count > 0  %>
                  <div class="donations-count"> <%= pluralize @user.donations.count, "projet" %></div>
                <% else %>
                  <div class="no-project">
                    <h5>Vous n'avez pas encore financé de projet</h5>
                    <%= link_to 'Decouvrez les projets', edit_criteria_path, class: "discover-project img-fluid" %>
                  </div>
                <% end %>
                  <!-- add condition where status == 20 -->
              </div>
            </div>


            <div class="col-xs-12 no_padding">
              <div class="total-critere">
                <div class="col-xs-6 no_padding">vos causes</div>
                <%= render 'shared/causes-indicator' %>
              </div>
            </div>

          </div>

          <div class="col-xs-12 col-sm-4 no_padding">
            <%= render 'shared/carousel' %>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="mes_donations">
          <div class="container-projects">
            <div class="col-xs-12 col-sm-8 no_padding list-of-projects">
              <div class="current-projects">
                Redécouvrez les <%= pluralize @user.donations.count, "projet" %> que vous avez soutenus
              </div>
              <%= render 'shared/project-history' %>
            </div>
            <div class="col-xs-12 col-sm-4 no_padding">
              <div id="map"></div>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="recu_fiscaux">
            Reçus fiscaux
          <div class="col-xs-12 col-sm-12 no_padding" id="declaration-impot">
            <%= cl_image_tag("Exemple_de_déclaration_d_impot_ybxf2h.png", :width=>454, :crop=>"scale") %>
          </div>
          <div class="col-xs-12 col-sm-12 no_padding">
            <%= link_to "Télécharger le formulaire en pdf", url_for('https://www.impots.gouv.fr/portail/files/formulaires/2042/2017/2042_1914.pdf') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

