<div class="template-container">
  <div class="scrollable-content">

    <div class="container-fluid" >
      <h1>  Bienvenue <%= @user.first_name.capitalize  %></h1>
      <div class="row">

<!-- dons -->
        <div class="col-xs-12 col-sm-6" id="total_dons">
          <h3>vous avez donné</h3>
          <div class="donations-count">
            <% sum = 0 %>
            <% @user.donations.where(status: 20).each do |donation| %>
            <% sum += donation.amount_cents.to_i %>
            <% end %>
            <%= total_donations = sum / 100  %> €
          </div>
        </div>

<!-- projet -->
        <div class="col-xs-12 col-sm-6" id="total_projets">
          <div><h3>pour soutenir</h3></div>
          <% if  @user.donations.where(status: 20).count > 0  %>
            <div class="donations-count"> <%= pluralize @user.donations.where(status: 20).count, "projet" %></div>
          <% else %>
            <div class="no-project">
              <h5>Vous n'avez pas encore financé de projet</h5>
              <%= link_to 'Decouvrez les projets', edit_criteria_path, class: "discover-project img-fluid" %>
            </div>
          <% end %>
        </div>

<!-- déductions fiscales -->
        <div class="col-xs-12 col-sm-12" id="deduction">
          <h2>Mes reçus fiscaux</h2>
          <h3>Vous pouvez déduire 66% de vos dons soit <%= (deductible_donations = total_donations * 0.66).truncate %>,00 € !</h3>
          <p>Les dons réalisés au profit des associations reconnues d’intérêt général peuvent faire l’objet d’une réduction d’impôts de 66% selon l’article 200 du Code Général des Impôts.</p>
          <p> En apportant votre soutien aux <%= pluralize @user.donations.count, "projet" %> que vous avez sélectionés, vous avez le droit de déduire de votre impôt sur le revenu 2017 la somme de <strong> <%= (deductible_donations = total_donations * 0.66).truncate %>,00 €.</strong></p>
          <div class="btn">Voir comment faire</div>
        </div>
      </div>
    </div>
  </div>


  <div class="fixed-background hidden" id="total_dons" style="background-image: linear-gradient(-225deg, rgba(0,10,16,0.6) 0%, rgba(0,36,61,0.6) 50%), url(http://res.cloudinary.com/adb0wzhme6/image/upload/v1513174424/kegkdxkjpn3erhqfmrrs.jpg);">

  </div>

  <div class="fixed-background hidden" id="total_projets" style="background-image: linear-gradient(-225deg, rgba(0,10,16,0.6) 0%, rgba(0,36,61,0.6) 50%), url(http://res.cloudinary.com/adb0wzhme6/image/upload/v1513174424/kegkdxkjpn3erhqfmrrs.jpg);">
  </div>

  <div class="fixed-background scroll_function" id="deduction" style="background-image: linear-gradient(-225deg, rgba(0,10,16,0.6) 0%, rgba(0,36,61,0.6) 50%), url(http://res.cloudinary.com/adb0wzhme6/image/upload/v1513174424/kegkdxkjpn3erhqfmrrs.jpg);">
    <div class="comment-faire col-xs-12 col-sm-12">
    <h3>Comment faire ?</h3>
      <div class="tax-images template-text-dashboard">
        <div class="tax-icon calendar col-xs12 col-sm-4"> <%= image_tag 'weekly-calendar.png' %> <p>Lors de votre déclaration d'impôts sur le revenu</p> <h5>Remplissez la rubrique "7UF" du formulaire 2042 </h5> </div>
        <div class="tax-icon attachments col-xs12 col-sm-4"> <%= image_tag 'attachments.png' %> <p>Joignez les reçus fiscaux à votre déclaration</p> <h5> Ils sont transmis par les associations <em>(disponibles dans cette rubrique)</em> </h5></div>
        <div class="tax-icon tax col-xs12 col-sm-4"> <%= image_tag 'tax.png' %> <p>Déduisez du paiement de vos impôts sur le revenu</p> <h5>le montant déductible inscrit sur cette page </h5></div>
      </div>
    </div>

    <div class="liste_des_reçus col-xs-12 col-sm-12">
      <h3>Télécharger mes reçus fiscaux</h3>
      <div class="">
        <div class="recu template-text-dashboard">
          <%= link_to image_tag("certificate.png"), "#" %>
          <div>
            <p>Croix rouge</p>
            <i class="fa fa-cloud-download" aria-hidden="true"></i>
          </div>
        </div>
        <div class="recu template-text-dashboard">
          <%= link_to image_tag("certificate.png"), "#" %>
          <div>
            <p>Médecin sans Frontière</p>
            <i class="fa fa-cloud-download" aria-hidden="true"></i>
          </div>
        </div>
        <div class="recu template-text-dashboard">
          <%= link_to image_tag("certificate.png"), "#" %>
          <div>
            <p>Reporter sans Frontière</p>
            <i class="fa fa-cloud-download" aria-hidden="true"></i>
          </div>
        </div>
        <div class="recu template-text-dashboard">
          <%= link_to image_tag("certificate.png"), "#" %>
          <div>
            <p>WWF</p>
            <i class="fa fa-cloud-download" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

