
<div class="main-container">
  <div class="welcome">
    <h1>  Bienvenue <%= @user.first_name  %></h1>
  </div>

  <ul class="nav nav-pills">
    <li class="active"> <a href="#dashboard" data-toggle="tab">Mon tableau de bord</a> </li>
    <li> <a href="#mes_donations" data-toggle="tab">Mes donations</a> </li>
    <li> <a href="#recu_fiscaux" data-toggle="tab">Mes reçus fiscaux</a> </li>
  </ul>

  <div class="tab-content">
    <div id="dashboard" class="tab-pane fade in active">
      <h4>Mon tableau de bord</h4>
      <div class="tableau">
        <div class="total_dons">
          <h5>Mes dons</h5>
          <% sum = 0 %>
          <% @user.donations.each do |donation| %>
          <% sum += donation.amount_cents.to_i %>
          <% end %>
          <h6> <%= total_donations = sum / 100  %> € </h6>
          <p> <%= (deductible_donations = total_donations * 0.66).truncate %> € déductibles</p>
          <%= render 'shared/progressbar' %>
        </div>

        <div class=total_projets>
          <div class="donations-count"> <%= @user.donations.count %></div>
          <h5>Vous avez financé <%= @user.donations.count %> projets</h5>
          <!-- add condition where status == 20 -->
        </div>

        <div class="repartition_cause">
          <h5>Répartition de vos dons par cause</h5>
          <%= render 'shared/causes-indicator' %>
        </div>

        <div class="current-projects">
          <div class="rubrique-title">
            <h5>Vos projets en cours</h5>
          </div>

          <%= render 'shared/carousel' %>

        </div>
      </div>
    </div>

    <div  class="tab-pane fade" id="mes_donations">
      <div class="pull-right">
        <button class=" btn btn-primary" data-toggle="portfilter" data-target="all"> Tout </button>
        <button class=" btn btn-primary" data-toggle="portfilter" data-target="ongoing-project"> En cours </button>
        <button class=" btn btn-primary" data-toggle="portfilter" data-target="terminated-project"> Terminé </button>
      </div>
      <div>
        <ul class="project-history">

          <% @user.donations.each do |donation| %>
            <% if donation.project.end_date > Date.today %>
            <li data-tag="ongoing-project">
              <div class="photo" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "humanitaire.jpg" %>');">
              </div>
              <div class="project-history-amount"><p> <%= donation.amount_cents / 100 %> €</p></div>
              <div class="project-history-name"> <%= donation.project.name %></div>
              <div class="project-history-date"><p> date du versement : <%= donation.execution_date %> </p></div>
              <div class="project-end_date"><p> J - <%= (donation.project.end_date - Date.today).to_i %></p></div>
              <div class="status"><p> En cours </p></div>
            </li>
            <% else %>
            <li data-tag="terminated-project">
              <div class="photo" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "humanitaire.jpg" %>');">
              </div>
              <div class="project-history-amount"><p> <%= donation.amount_cents / 100 %> €</p></div>
              <div class="project-history-name"> <%= donation.project.name %></div>
              <div class="project-history-date"><p> date du versement : <%= donation.execution_date %> </p></div>
              <div class="project-end_date"><p> clôturé le: <%= donation.project.end_date%></p></div>
              <div class="status"><p> Terminé </p></div>
            </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <div  class="tab-pane fade" id="recu_fiscaux">
      <h4>Mes reçus fiscaux</h4>
      <!-- <object data="data/test.pdf" type="application/pdf" width="300" height="200">
      <a href="data/test.pdf">test.pdf</a>
      </object> -->

    </div>
  </div>
</div>




