<div class="cadre-causes col-xs-12">
  <div class="row full-width flex-between">
    <div class="user-show-slider-label">
      <% if @user.environment > 0 %>
        <div class="ecologie-case bullet col-xs-9 col-sm-9"><i class="fa fa-leaf"></i><p>|</p><p>Ecologie</p></div>
      <% else %>
        <div class="ecologie-case disabled-criteria col-xs-9 col-sm-9"><i class="fa fa-leaf"></i><p>|</p><p>Ecologie</p></div>
      <% end %>
    </div>
    <div>
      <div class="progress-bar">
        <div class="indicator-bar" role="progressbar" style="width:<%= [@user.share("environment"), 100].min %>%">
        </div>
      </div>
    </div>
  </div>
  <div class="row full-width flex-between">
    <div class="user-show-slider-label">
      <% if @user.education > 0 %>
        <div class="education-case bullet col-xs-9 col-sm-9"><i class="fa fa-graduation-cap"></i><p>|</p><p>Education</p></div>
      <% else %>
        <div class="education-case disabled-criteria col-xs-9 col-sm-9"><i class="fa fa-graduation-cap"></i><p>|</p><p>Education</p></div>
      <% end %>
    </div>
    <div>
      <div class="progress-bar">
        <div class="indicator-bar" role="progressbar" style="width:<%= [@user.share("education"), 100].min %>%">
        </div>
      </div>
    </div>
  </div>
  <div class="row full-width flex-between">
    <div class="user-show-slider-label">
      <% if @user.social > 0 %>
        <div class="actionsociale-case bullet col-xs-9 col-sm-9"><i class="fa fa-handshake-o"></i><p>|</p><p>Social</p></div>
        <% else %>
        <div class="actionsociale-case disabled-criteria col-xs-9 col-sm-9"><i class="fa fa-handshake-o"></i><p>|</p><p>Social</p></div>
      <% end %>
    </div>
    <div>
      <div class="progress-bar">
        <div class="indicator-bar" role="progressbar" style="width:<%= [@user.share("social"), 100].min %>%">
        </div>
      </div>
    </div>
  </div>
  <div class="row full-width flex-between">
    <div class="user-show-slider-label">
      <% if @user.humanitarian > 0 %>
        <div class="humanitaire-case bullet col-xs-9 col-sm-9"><i class="fa fa-life-ring"></i><p>|</p><p>Humanitaire</p></div>
        <% else %>
        <div class="humanitaire-case disabled-criteria col-xs-9 col-sm-9"><i class="fa fa-life-ring"></i><p>|</p><p>Humanitaire</p></div>
      <% end %>
    </div>
    <div>
      <div class="progress-bar">
        <div class="indicator-bar" role="progressbar" style="width:<%= [@user.share("humanitarian"), 100].min %>%">
        </div>
      </div>
    </div>
  </div>
  <div class="row full-width flex-between">
    <div class="user-show-slider-label">
      <% if @user.preservation > 0 %>
        <div class="patrimoine-case bullet col-xs-9 col-sm-9"><i class="fa fa-institution"></i><p>|</p><p>Patrimoine</p></div>
      <% else %>
        <div class="patrimoine-case disabled-criteria col-xs-9 col-sm-9"><i class="fa fa-institution"></i><p>|</p><p>Patrimoine</p></div>
      <% end %>
    </div>
    <div>
      <div class="progress-bar">
        <div class="indicator-bar" role="progressbar" style="width:<%= [@user.share("preservation"), 100].min %>%">
        </div>
      </div>
    </div>
  </div>
  <div class="row full-width flex-between">
    <div class="user-show-slider-label">
      <% if @user.research > 0 %>
        <div class="recherche-case bullet col-xs-9 col-sm-9"><i class="fa fa-flask"></i><p>|</p><p>Recherche</p></div>
      <% else %>
        <div class="recherche-case disabled-criteria col-xs-9 col-sm-9"><i class="fa fa-flask"></i><p>|</p><p>Recherche</p></div>
      <% end %>
    </div>
    <div>
      <div class="progress-bar">
        <div class="indicator-bar" role="progressbar" style="width:<%= [@user.share("research"), 100].min %>%">
        </div>
      </div>
    </div>
  </div>
</div>




