<%= form_tag order_payments_path(order) do %>
  <h4>La formule de don que vous préférez :</h4>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6">
        <input type="checkbox" class="hidden" value=1 name="subscription" id="subscription">
        <label for="subscription" class="subscription-choice flex-center hvr-grow">
          <div>
            <h5>Abonnement</h5>
            <p>Je m'abonne pour soutenir chaque mois les causes qui me tiennent à coeur</p>
          </div>
        </label>
      </div>
      <div class="col-xs-12 col-sm-6">
        <input type="checkbox" class="hidden" value=1 name="one-shot" id="one-shot">
        <label for="one-shot" class="subscription-choice flex-center hvr-grow">
          <div>
            <h5>Don ponctuel</h5>
            <p>Je contribue aujourd'hui pour <%= pluralize order.donations.size, "projet" %> </p>
          </div>
        </label>
      </div>
    </div>
  </div>

  <h4>Vos coordonnées</h4>
  <div class="form-row contact-form">
    <div class="form-group col-md-6">
      <%= label_tag 'first_name', "Prénom" %>
      <%= text_field_tag 'first_name', order.donations.first.user.first_name, class: "form-control", required: true %>
    </div>
    <div class="form-group col-md-6">
      <%= label_tag 'last_name', "Nom" %>
      <%= text_field_tag 'last_name', order.donations.first.user.last_name, class: "form-control", required: true %>
    </div>
    <div class="form-group col-md-12 contact-form-last">
      <%= label_tag 'address', "Adresse" %>
      <%= text_field_tag 'address', order.donations.first.user.address, class: "form-control autocomp", required: true %>
    </div>
  </div>

  <div class="text-center">
    <h3>Montant total de votre donation : <span id="payment-final-amount"><span id="dynamic-price"><%= order.amount.to_i %></span>€ TTC</span></h3>
  </div>
  <div class="text-center">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-name="Fund of You"
      data-email="<%= order.donations.first.user.email %>"
      data-description="Nombre de donations: <%= order.donations.size %>"
      data-amount="<%= order.amount_cents %>"
      data-currency="<%= order.amount.currency %>"
      data-locale="auto"></script>
  </div>
<% end %>
