<div class="project-history">
  <ul class=".hvr-grow">
    <% @user.donations.where(status: 20).order(execution_date: :desc).each do |donation| %>
      <% if donation.project.end_date > Date.today %>
      <li data-tag="ongoing-project">
        <div class="photo" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path donation.project.photo %>);">
        </div>
        <i class="fa fa-share" aria-hidden="true"></i>
        <div class="project-history-amount"><p> <%= donation.amount_cents / 100 %> €</p></div>
        <div class="project-progress"><h1> <%= donation.project.completion_rate %> % </h1></div>
        <div class="project-history-name"> <%= donation.project.name.capitalize %></div>
        <div class="project-history-charity"><p> <%= donation.project.charity.name.capitalize %> </p></div>
        <div class="project-history-date"><p> Date du don : <%= donation.execution_date %> </p></div>
        <div class="project-end_date"><i class="fa fa-clock-o" aria-hidden="true"></i><p> J - <%= (donation.project.end_date - Date.today).to_i %></p></div>
        <div class="status"><p> En cours </p></div>
      </li>
      <% else %>
      <li data-tag="terminated-project">
        <div class="photo" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path donation.project.photo %>);">
        </div>
        <div class="project-progress"><p> <%= donation.project.completion_rate %> % </p></div>
        <div class="project-history-amount"><p> <%= donation.amount_cents / 100 %> €</p></div>
        <div class="project-history-name"> <%= donation.project.name %></div>
        <div class="project-history-date"><p> date du versement : <%= donation.execution_date %> </p></div>
        <div class="status"><p> Terminé </p></div>
      </li>
      <% end %>
    <% end %>
  </ul>
</div>
