<%= content_for(:navbar_class, "navbar-home") %>

<div class="home-global-container">
  <div class="container-fluid banner-photo">
    <div class="row">
      <div class="col-sm-12">
        <div id="my-slider" class="carousel slide" data-ride="carousel">
         <!-- indicators do not nov -->
<!--           <ol class="carousel-indicators">
             <li data-target="#my-slider" data-slide-to="0" class="active "></li>
             <li data-target="#my-slider" data-slide-to="1"></li>
          </ol> -->
          <!-- wrapper for slides -->
           <div class="carousel-inner" role="listbox">
             <div class="item active">
             <%= image_tag "love.jpg", class: "photo-banner" %>
               <div class="carousel-caption">
                  <h1>Fund Of You</h1>
                  <h3>Le site de dons aux associations d'utilité publique</h3>
                  <!-- <p><span id="banner-typed-text"></span></p> -->
                  <%= link_to 'Decouvrez les projets', edit_criteria_path, class: "discover-project img-fluid" %>
               </div>
             </div>

             <div class="item">
              <%= image_tag "environnement.jpg", class: "photo-banner" %>
               <div class="carousel-caption">
                <h1>Fund Of You</h1>
                <h3>Le site de dons aux associations environnementales</h3>
                <%= link_to 'Decouvrez les projets', edit_criteria_path, class: "discover-project img-fluid" %>
               </div>
             </div>

             <div class="item">
              <%= image_tag "humanitaire.jpg", class: "photo-banner" %>
               <div class="carousel-caption">
                <h1>Fund Of You</h1>
                <h3>Le site de dons aux associations humanitaires</h3>
                <%= link_to 'Decouvrez les projets', edit_criteria_path, class: "discover-project img-fluid" %>
               </div>
             </div>

             <div class="item">
              <%= image_tag "education.jpg", class: "photo-banner" %>
               <div class="carousel-caption">
                <h1>Fund Of You</h1>
                <h3>Le site de dons aux associations éducatives</h3>
                <%= link_to 'Decouvrez les projets', edit_criteria_path, class: "discover-project img-fluid" %>
               </div>
             </div>

             <div class="item">
              <%= image_tag "eiffel.jpg", class: "photo-banner" %>
               <div class="carousel-caption">
                <h1>Fund Of You</h1>
                <h3>Le site de dons aux associations de défense du patrimoine</h3>
                <%= link_to 'Decouvrez les projets', edit_criteria_path, class: "discover-project img-fluid" %>
               </div>
             </div>

           </div>
           <!-- controls or next and prev buttons -->
           <a class="left carousel-control" href="#my-slider" role="button" data-slide="prev">
             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
             <span class="sr-only">Previous</span>
           </a>
           <a class="right carousel-control" href="#my-slider" role="button" data-slide="next">
             <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
             <span class="sr-only">Previous</span>
           </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container explication">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <%= image_tag "search.png", id: "search" %>
        <h4>RECOMMANDATIONS</h4>
        <p>Un selector avec des recommandations personnalisées.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <%= image_tag "growth.png", id: "growth" %>
        <h4>ABONNEMENT</h4>
        <p> Une formule sur mesure pour faciliter vos donations vers les projets qui vous tiennent à coeur.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <%= image_tag "key.png", id: "growth" %>
        <h4>SECURITE</h4>
        <p>Un système sécurisé pour vos transactions.</p>
      </div>
    </div>
  </div>

  <div class="container temoignage">
    <div class="row">
        <div class="success">
          <h2>Ils parlent de nous ... </h2>
          <div class="col-xs-12 col-sm-4 col-md-4">"Grâce au précieux accompagnement d'Augustin et de son équipe, nous avons pu financé notre projet et avons pu sauvé Pépito et ses amis ! Un grand merci à tous !" <br><p></p>
            <i class="fa fa-paw" aria-hidden="true"></i> Pamela, association "Sauvons Pépito"
          </div>
            <div class="col-xs-12 col-sm-4 col-md-4">"FundOfYou nous a permis de financer notre projet et de partir au Bénin dans un orphelinat. Sans leur aide, ce projet n'aurait pas pu se réaliser, Merci du fond du coeur !" <br><p></p>
              <i class="fa fa-plane" aria-hidden="true"></i> Aude, "Action Bénin"
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">"Je souhaitais soutenir des associations depuis longtemps mais ne savais pas vers lesquelles me tourner. Grâce à FundOfYou, je soutiens régulièrement des projets divers et variés." <br><p></p>
                <i class="fa fa-bath" aria-hidden="true"></i> Zac, plombier, 28 ans
            </div>
        </div>
    </div>
  </div>


  <div class="presentation container">
    <div class="row">
      <div class="project">

        <div class="container onglet">
          <ul class="nav nav-pills nav-justified ">
            <li class="active"><a href="#en-cours" data-toggle="tab">Projets en cours</a></li>
            <li><a href="#done" data-toggle="tab">Projets terminés</a></li>
          </ul>
        </div>

        <div class= "tab-content">
          <div class="tab-pane fade in active" id="en-cours">
                <div class="col-xs-12 col-sm-4" >
                  <div class="card-home home-project" >
                    <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                     url('https://kitt.lewagon.com/placeholder/cities/shanghai');"></div>
                     <div class="card-category-home">Humanitaire</div>
                     <div class="card-description-home">
                        <div class="card-description-home-title">
                          <h2>Test</h2>
                        </div>
                        <div class="card-description-home-description">
                          <p>Objectif</p>
                          <p>Montant collecté</p>
                        </div>
                     </div>
                      <img class="card-user-home" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
                  </div>
                </div>
              <div class="col-xs-12 col-sm-4" >
                <div class="card-home home-project" >
                  <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "photo1_3.jpg" %>');">
                  </div>
                   <div class="card-category-home">Humanitaire</div>
                     <div class="card-description-home">
                      <div class="card-description-home-title">
                        <h2>Voyage humanitaire en Inde</h2>
                       </div>
                       <div class="card-description-home-description">
                          <p>Objectif</p>
                          <p>Montant collecté</p>
                        </div>
                     </div>
                      <img class="card-user-home" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
                 </div>
              </div>

              <div class="col-xs-12 col-sm-4" >
                <div class="card-home home-project" >
                  <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
                  </div>
                   <div class="card-category-home">Humanitaire</div>
                     <div class="card-description-home">
                        <div class="card-description-home-title">
                           <h2>SOS Pepito</h2>
                        </div>
                        <div class="card-description-home-description">
                          <p>Objectif</p>
                          <p>Montant collecté</p>
                        </div>
                     </div>
                      <img class="card-user-home" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
                 </div>
              </div>
          </div>

          <div class="tab-pane fade" id="done">

                <div class="col-xs-12 col-sm-4" >
                  <div class="card-home home-project" >
                    <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "champ.jpg" %>');"></div>
                     <div class="card-category-home">Humanitaire</div>
                     <div class="card-description-home">
                       <h2>Coucou></h2>
                        <div class="obtenu">Montant collecté</div>
                     </div>
                      <img class="card-user-home" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
                  </div>
                </div>
              <div class="col-xs-12 col-sm-4" >
                <div class="card-home home-project" >
                  <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "champ.jpg" %>');">
                  </div>
                   <div class="card-category-home">Humanitaire</div>
                     <div class="card-description-home">
                       <h2>SOS Enfant</h2>
                        <div class="obtenu">Montant collecté</div>
                     </div>
                      <img class="card-user-home" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
                 </div>
              </div>

              <div class="col-xs-12 col-sm-4" >
                <div class="card-home home-project" >
                  <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "champ.jpg" %>');">
                  </div>
                   <div class="card-category-home">Humanitaire</div>
                     <div class="card-description-home">
                       <h2>SOS Enfant</h2>
                        <div class="obtenu">Montant collecté</div>
                     </div>
                      <img class="card-user-home" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
                 </div>
              </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>



