<%= content_for(:navbar_class, "navbar-static") %>

<div class="template-container">

  <div class="scrollable-content">
    <div class="funnel-main-content">
      <div class="center-and-underline-title" >
        <h3>Tous les projets en cours</h3>
      </div>

      <div class="container-fluid">
        <div class="row text-center">
          <% @projects.each do |project|%>
            <div class="col-xs-12 col-md-6">

              <div class="index-card hvr-grow" style="background-image: linear-gradient(-225deg, rgba(0,10,16,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path project.photo %>);">
                <%= hidden_field_tag :project_key, project.id %>
                <% if project.charity %>

                  <div class="index-card-asso" style="background-image: url(<%= image_path(project.charity.photo)%>)"></div>

                <% else %>
                  <div class="index-card-asso" style="background-image: url('https://kitt.lewagon.com/placeholder/users/random')"></div>
                <% end %>
                <h5><%= project.name.capitalize %></h5>
                <div class="index-card-footer">
                  <div class="index-card-bugdet">
                    <p><%= number_with_delimiter(project.budget.to_i, delimiter: " ") %>€</p>
                    <p class="index-card-footer-legend">objectif</p>
                  </div>
                  <div class="index-card-completion">
                    <p><%= project.completion_rate %>%</p>
                    <p class="index-card-footer-legend">récoltés</p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="project-index-footer">
      <p>Concerné par l'humanitaire ? Les actions locales ? Trouvez les projets qui correspondent avec notre moteur de recommandations personnalisées.</p>
      <%= link_to "Découvrir par cause", edit_criteria_path, class: "btn button-submit" %>
    </div>
  </div>

  <% @projects.each do |project|%>
    <div class="fixed-background hidden" id="<%= project.id %>" style="background-image: linear-gradient(-225deg, rgba(0,10,16,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path project.photo %>);">

      <h2 class="template-title"><%= project.name.capitalize %></h2>
      <div class="template-text template-text-long">
        <div class="project-focus-data">
          <p>Objectif : <%= project.budget.to_i %>€</p>
          <p><%= project.completion_rate %>% récoltés</p>
        </div>
        <% if project.charity %>
          <p>Par l'association <%= project.charity.name %></p>
        <% end %>
        <p> <%= truncate project.description, length: 300, omission: '...' %> </p>

        <div class="criterium-container">
          <% criteria = {environment: "Environnement", humanitarian: "Humanitaire", social: "Action sociale", research: "Recherche", preservation: "Patrimoine", education: "Education"} %>
          <% criteria.each_key do |criterium| %>
            <% if project[criterium] == 1 %>
              <p class="bullet bullet-criterium"><i class="fa fa-tag" aria-hidden="true"></i> <%= criteria[criterium] %></p>
          <% end %>
          <% end %>
        </div>
      </div>
      <%= link_to "En savoir plus", project_path(project), class: "btn button-submit" %>
    </div>
  <% end %>
</div>
