<% content_for :meta_title, "#{@project.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @project.description %>
<% if @project.photo %>
  <% content_for :meta_image, image_path(@project.photo) %>
<% end %>


<div class="container">
  <div class="project-resume">
    <div class="row">

      <div class="charity-resume col-xs-12 col-sm-3">
        <div class="project-asso-photo" style="background-image: url(<%= image_path(@project.charity.photo)%>)"></div>
        <h6>Soutenu par <%= @project.charity.name %></h6>
      </div>
      <div class="project-title col-xs-12 col-sm-9">
        <h2> <%= @project.name %></h2>
        <h3> @project.objectives</h3>
      </div>


      <div class="showproject-photo col-xs-12 col-sm-8" style="background-image: url('<%= image_path @project.photo %>');">
      </div>

      <div class="project-figures col-xs-12 col-sm-4">

        <div class="progress-bar" id="collection-progress">
          <div class="indicator-bar" role="progressbar" style="width:<%= [@project.completion_rate, 100].min %>%">
            <% if @project.completion_rate > 0 %>
              <h4 class="progress-title"><%= @project.completion_rate %> % </h4>
              <div class="progress-value"></div>
            <% end %>
          </div>
        </div>

        <div class="project-content">
          <div class="important-number">
            <br><p id="key-figures"> <%= number_with_delimiter((@project.completion_rate.to_f / 100 * @project.budget).to_i, delimiter: " ") %> €</p>
            <p> sur <%= number_with_delimiter(@project.budget_cents / 100, delimiter: " ") %> € </p><br>
          </div>

          <div class="important-number">
            <p id="key-figures"> <%= @project.donations.size %> </p>
            <% if @project.donations.size > 1 %>
              <p><%= 'donation'.pluralize %>
            <% else %>
              donation</p>
            <% end  %>
          </div>

          <% if @project.end_date > Date.today %>
            <br><div class="important-number"> <p id="key-figures"> <%= (@project.end_date - Date.today).to_i %></p>
            </%> <p> j restants</p></div>
          <% else %>
            <div class="important-number"> Collecte <br> terminée </div>
          <% end %>
        </div>

        <div class="cta-project">
          <%= link_to 'Soutenir ce projet', edit_criteria_path, class: "btn button-submit", id: "cta-project-btn" %>
        </div>
        <div class="share-buttons">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-instagram"></i>
          <i class="fa fa-linkedin"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-share-square"></i>
        </div>
      </div>

      <div class="project-details col-xs-12">
        <div class="details-banner">
          <p><i class="fa fa-map-marker"></i>  <%= @project.address %></p>
          <p> <i class="fa fa-bookmark"></i></p>
          <div class="cause-tags">
            <% if @project.humanitarian > 0 %>
              <p id="cause-tag">Humanitaire</p>
            <% else %>
            <% end %>
            <% if @project.environment > 0 %>
              <p id="cause-tag">Ecologie</p>
            <% else %>
            <% end %>
            <% if @project.education > 0 %>
              <p id="cause-tag">Education</p>
            <% else %>
            <% end %>
            <% if @project.social > 0 %>
              <p id="cause-tag">Action sociale</p>
            <% else %>
            <% end %>
            <% if @project.preservation > 0 %>
              <p id="cause-tag">Patrimoine</p>
            <% else %>
            <% end %>
            <% if @project.research > 0 %>
              <p id="cause-tag">Recherche</p>
            <% else %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="project-cta col-xs-12">
        <%= link_to "Découvrir l'association", "#", class: "btn button-submit", id: "cta-project-banner-btn" %>
        <%= link_to "Actus", "#", class: "btn button-submit", id: "cta-project-banner-btn" %>
      </div>

      <div class="project-description col-xs-12 col-sm-8">
        <h3>A propos</h3>
        <p> <%= @project.description %> </p>
      </div>
      <div class="project-object col-xs-12 col-sm-4">
        <h3>Soutenir</h3>
      </div>

    </div>
  </div>
</div>











</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
