<div class="template-container">
  <% if @project.photo.present? %>
    <div class="fixed-background" style="background-image: linear-gradient(-225deg, rgba(0,10,16,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @project.photo %>');">

      <div class="template-text">
       <!-- Encart noir à gauche -->
       <h1 id="project-name"><%= @project.name %></h1>
      </div>
    </div>

  <% else %>
    <div class="fixed-background" style="background-image: linear-gradient(-225deg, rgba(0,10,16,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "form-background.jpg" %>);">
      <div class="template-text">
     <!-- Encart noir à gauche -->
        <h1 class="ml15">
          <span class="word"><%= @project.name %></span>
        </h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
      </div>
    </div>
  <% end %>

  <div class="template-left-cta">
    <%= link_to 'Soutenir ce projet', edit_criteria_path, class: "btn button-submit" %>
  </div>

<div class="container-presentation-show">
  <div class="scrollable-content">
    <div class="funnel-main-content">
      <div class="row">
        <div class="center-and-underline-title" >
          <h3>À propos</h3>
        </div>
        <div class="contribution-info">
          <div class="important-number"><%= @project.donations.size %> <br>
            <% if @project.donations.size > 1 %>
              <p><%= 'donation'.pluralize %></p>
              <% else %>
              <p>donation</p>
              <% end  %>
            </div>
            <% if @project.end_date < Time.now %>
              <div class="important-number"><%= (@project.end_date - @project.start_date).to_i %> J <br> <p>restants</p></div>
            <% else %>
              <div class="important-number"> Collecte <br> terminée </div>
            <% end %>
        </div>
        <div class="budget-details">
           <div class="progress-bar">
            <div class="indicator-bar" role="progressbar" style="width:<%= [@project.completion_rate, 100].min %>%">
              <h4 class="progress-title"><%= @project.completion_rate %> % </h4>
              <div class="progress-value"></div>
            </div>
          </div>
        </div>
        <div class="budget-evolution">
          <div class="important-number"> <%= number_with_delimiter((@project.completion_rate.to_f / 100 * @project.budget_cents).to_i, delimiter: " ") %> €<br><p>recoltés</p></div>
          <div class="important-number"><%= number_with_delimiter(@project.budget_cents, delimiter: " ") %> € <br> <p>objectif</p></div>
        </div>
          <div class= "project-presentation">
          </div>


          <div class="center-and-underline-title" >
            <h3>L'association</h3>
          </div>
              <div class="association-identity">
                  <div class="association-details">
                      <ul class="association-name">
                        <li><%= image_tag "logo.png", class: "avatar-charity" %></li>
                        <li> charity.name </li>
                      </ul>
                  </div>
                  <div class="association-info">
                    <ul>
                      <li><i class="fa fa-user-circle" aria-hidden="true"></i> Contact.name </li>
                      <li><i class="fa fa-location-arrow" aria-hidden="true"></i> Adresse </li>
                      <li><i class="fa fa-envelope-o" aria-hidden="true"></i> Email </li>
                    </ul>
                  </div>
                </div>
          </div>

          <div class="association-presentation">
            <p>lorem ipsum</p>
          </div>

    </div>
    </div>
</div>
</div>

