<div class="criteria-breadcrumb-container text-center">
  <div class="criteria-breadcrumb">
    <div class="criteria-breadcrumb-item"><span>1</span>Mes causes</div>
    <div class="criteria-breadcrumb-item"><span>2</span>Mes projets</div>
    <div class="criteria-breadcrumb-item criteria-breadcrumb-item-active"><span>3</span>Contribuer</div>
  </div>
</div>

<div class="main-container">
  <div class="main-header">
    <div class="causes-resume">
      <h6><i class="fa fa-heart" aria-hidden="true"></i> Les projets qui m'importent</h6>
      <p><em>Les projets que vous avez sélectionné parmi vos recommandations.</em></p>
      <p id="project-selected">
        <% @donations.each do |donation| %>
          <span class="bullet"><%= donation.project.name.capitalize %></span>
        <% end %></p>
    </div>
    <div class="causes-buttons">
      <%= link_to "Retourner aux projets", result_path, class: "btn button-reset" %>
      <%= link_to "Changer mes causes", edit_criteria_path, class: "btn button-reset" %>
    </div>
  </div>
  <div class="content-container choose-criteria">
    <div class="choose-criteria-item" >
      <h3>Confirmez votre donation</h3>
    </div>
    <div class="cause-container">
      <% if @donations.size == 1 %>
        Le projet que vous souhaitez soutenir :
      <% else %>
        Le projet que vous souhaitez soutenir :
      <% end %>
      <h4>Choisir le périmètre d'action :</h4>
        <ul>
          <% @order.donations.each do |donation| %>
            <li><%= donation.project.name %> (<%= humanized_money_with_symbol(donation.amount) %>)</li>
          <% end %>
        </ul>
        <%= form_tag order_payments_path(@order) do %>
          <article>
            <label class="amount">
              <span>Amount: <%= humanized_money_with_symbol(@order.amount) %></span>
            </label>
          </article>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="Fund of You"
          data-email="<%= current_user.email %>"
          data-description="Nombre de donations: <%= @order.donations.size %>"
          data-amount="<%= @order.amount_cents %>"
          data-currency="<%= @order.amount.currency %>"></script>
        <% end %>
    </div>


  </div>
</div>


