<%= content_for(:navbar_class, "navbar-static") %>

<div class="template-container">

  <div class="scrollable-content">
      <div class="breadcrumb-centerer">
        <div class="breadcrumb-container text-center">
          <div class="breadcrumb-line"></div>
          <div class="criteria-breadcrumb">
          <div class="criteria-breadcrumb-item criteria-breadcrumb-item-active"><span>1</span>Mes causes</div>
          <div class="criteria-breadcrumb-item criteria-breadcrumb-item-active"><span>2</span>Mon don</div>
          <div class="criteria-breadcrumb-item criteria-breadcrumb-item-active"><span>3</span>Mes projets</div>
          <div class="criteria-breadcrumb-item criteria-breadcrumb-item-active"><span>4</span>Contribuer</div>
          </div>
        </div>
      </div>

    <div class="funnel-main-content payment-step">
      <div class="center-and-underline-title" >
         <h3>Confirmez votre donation</h3>
      </div>
      <%= form_tag order_payments_path(@order) do %>

        <h4>Vos coordonnées</h4>
        <div class="form-row contact-form">
          <div class="form-group col-md-6">
            <%= label_tag 'first_name', "Prénom" %>
            <%= text_field_tag 'first_name', @user.first_name, class: "form-control", required: true %>
          </div>
          <div class="form-group col-md-6">
            <%= label_tag 'last_name', "Nom" %>
            <%= text_field_tag 'last_name', @user.last_name, class: "form-control", required: true %>
          </div>
          <div class="form-group col-md-12 contact-form-last">
            <%= label_tag 'address', "Adresse" %>
            <%= text_field_tag 'address', @user.address, class: "form-control autocomp", required: true %>
          </div>
        </div>

        <div class="text-center">
          <h3>Montant total de votre donation : <span id="payment-final-amount"><span id="dynamic-price"><%= @order.amount.to_i %></span>€ TTC</span></h3>
        </div>
        <div class="text-center">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="Fund of You"
            data-email="<%= @user.email %>"
            data-description="Nombre de donations: <%= @order.project_nb %>"
            data-amount="<%= @order.amount_cents %>"
            data-currency="<%= @order.amount.currency %>"
            data-locale="auto"></script>
        </div>
      <% end %>


    </div>
  </div>


  <div class="fixed-background-divided">
    <% @donations.each do |donation| %>
      <div class="fixed-background-divided-item flex-center" style="background-image: linear-gradient(-225deg, rgba(0,10,16,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path donation.project.photo %>);">
          <h2><%= donation.project.name.capitalize %></h2>
      </div>
    <% end %>
  </div>

</div>

<!-- Javascript required for Google Maps API -->
<%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
<%= javascript_pack_tag "map" %>


